<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAQnCr6x-iKQl-QgWQoD7n7JowQynEzgAc</string>
	<key>GCM_SENDER_ID</key>
	<string>514515683759</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.multiVendorStore</string>
	<key>PROJECT_ID</key>
	<string>multi-vendor-store-4b2d5</string>
	<key>STORAGE_BUCKET</key>
	<string>multi-vendor-store-4b2d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514515683759:ios:d621fa452986ac6342475a</string>
</dict>
</plist>